{% for (key, counts) in profile_runner_counts.iter() %}
<h2>{{ counts.healthy }}/{{ counts.target }} runners for {{ key }}</h2>
<ul>
{% if let Some(profile) = self.profile(key) %}
{% if policy.image_needs_rebuild(profile).unwrap_or(true) %}
    <li>image rebuild, <a class="screenshot" href="/profile/{{ key }}/screenshot.png" data-profile-key="{{ key }}">screenshot</a>
{% endif %}
{% endif %}
{% for (id, runner) in policy.runners_for_profile_key(key) %}
    <li>id {{ id }}, <a class="screenshot" href="/runner/{{ id }}/screenshot.png" data-runner-id="{{ id }}">screenshot</a>, status {{ self.status(runner) }}, age {{ self.age(runner)? }}, reserved for {{ self.reserved_since(runner)? }}
    <div class="labels">
        {% for label in self.labels(runner) %}
        {% if let Some((key, value)) = label.split_once(':') %}
        <span class="label key-value">
            <span class="key">{{ key }}</span>
            {%- if key.clone() == "reserved-by" -%}
            <a class="value" target="_blank" href="https://github.com/{{ value }}">{{ value }}</a>
            {%- else -%}
            <span class="value">{{ value }}</span>
            {%- endif -%}
        </span>
        {% else %}
        <span class="label key-only"><span class="key">{{ label }}</span></span>
        {% endif %}
        {% endfor %}
    </div>
{% endfor %}
</ul>
{% endfor %}
