<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.servo.ci</string>

    <key>OnDemand</key>
    <false/>

    <key>UserName</key>
    <string>root</string>

    <key>GroupName</key>
    <string>wheel</string>

    <key>ProgramArguments</key>
    <array>
            <string>open</string>
            <string>-Wa</string><!-- wait, application -->
            <string>/System/Applications/Utilities/Terminal.app</string>
            <!-- In practice, this actually runs as servo, not root -->
            <string>/Users/servo/boot.sh</string>
    </array>
</dict>
</plist>
