# Prepend this to any internal URL in our own responses. Must end with trailing slash.
external_base_url = "http://[::1]:8000/"

# Maximum age of base images before they need to be rebuilt, in seconds.
base_image_max_age = 86400

# Uncomment to skip cached Servo repo updates.
# dont_update_cached_servo_repo = true

# Create libvirt guests for runners as “ci-runner-<profile_name>.0”. Namespace must not be used by anything else!
# libvirt_runner_guest_prefix = "ci-runner"

# How much memory is available for our runners.
available_1g_hugepages = 96
available_normal_memory = "16G"

[profiles.servo-windows10]
profile_name = "servo-windows10"
github_runner_label = "self-hosted-image:windows10"
target_count = 1
requires_1g_hugepages = 24
requires_normal_memory = "1G"  # Arbitrary non-zero guess

[profiles.servo-macos13]
profile_name = "servo-macos13"
github_runner_label = "self-hosted-image:macos13"
target_count = 1
image_type = "Rust"
requires_1g_hugepages = 24
requires_normal_memory = "1G"  # Arbitrary non-zero guess

[profiles.servo-ubuntu2204]
profile_name = "servo-ubuntu2204"
github_runner_label = "self-hosted-image:ubuntu2204"
target_count = 1
image_type = "Rust"
requires_1g_hugepages = 24
requires_normal_memory = "1G"  # Arbitrary non-zero guess

[profiles.servo-ubuntu2204-bench]
profile_name = "servo-ubuntu2204-bench"
github_runner_label = "self-hosted-image:ubuntu2204-bench"
target_count = 1
image_type = "Rust"
requires_1g_hugepages = 24
requires_normal_memory = "1G"  # Arbitrary non-zero guess

[profiles.servo-ubuntu2204-wpt]
profile_name = "servo-ubuntu2204-wpt"
github_runner_label = "self-hosted-image:ubuntu2204-wpt"
target_count = 1
image_type = "Rust"
requires_1g_hugepages = 24
requires_normal_memory = "1G"  # Arbitrary non-zero guess

[profiles.servo-ubuntu2204-rust]
profile_name = "servo-ubuntu2204-rust"
github_runner_label = "self-hosted-image:ubuntu2204-rust"
target_count = 0
image_type = "Rust"
requires_1g_hugepages = 12
requires_normal_memory = "1G"  # Arbitrary non-zero guess
