# Prepend this to any internal URL in our own responses. Must end with trailing slash.
external_base_url = "http://[::1]:8000/"

# Maximum age of base images before they need to be rebuilt, in seconds.
base_image_max_age = 86400

# Uncomment to skip cached Servo repo updates.
# dont_update_cached_servo_repo = true

[profiles.servo-windows10]
configuration_name = "windows10"
base_vm_name = "servo-windows10"
github_runner_label = "self-hosted-image:windows10"
target_count = 1

[profiles.servo-macos13]
configuration_name = "macos13"
base_vm_name = "servo-macos13"
github_runner_label = "self-hosted-image:macos13"
target_count = 1
image_type = "Rust"

[profiles.servo-ubuntu2204]
configuration_name = "ubuntu2204"
base_vm_name = "servo-ubuntu2204"
github_runner_label = "self-hosted-image:ubuntu2204"
target_count = 1
image_type = "Rust"

[profiles.servo-ubuntu2204-wpt]
configuration_name = "ubuntu2204-wpt"
base_vm_name = "servo-ubuntu2204-wpt"
github_runner_label = "self-hosted-image:ubuntu2204-wpt"
target_count = 1
image_type = "Rust"

[profiles.servo-ubuntu2204-rust]
configuration_name = "ubuntu2204-rust"
base_vm_name = "servo-ubuntu2204-rust"
github_runner_label = "self-hosted-image:ubuntu2204-rust"
target_count = 0
image_type = "Rust"
